{% extends "base.html" %}


{% block main%}

    <div class="contact-main">
        <h1>Contact Form</h1>
        <p>Fill in this form to contact the site owners</p>
        <form method="POST" action="">
            {{ form.csrf_token }}
            
            <div class="contact-container">

                <p><b>{{form.name.label}}</b> <span>(Required)</span></p>
                <p>Please enter your full name</p>
                {{form.name}}

                <p><b>{{form.email.label}}</b> <span>(Required)</span></p>
                <p>Please enter your e-mail address</p>
                {{form.email}}

                <p><b>{{form.subject.label}}</b> <span>(Required)</span></p>
                <p>Please enter the subject for your message.</p>
                {{form.subject}}

                <p><b>{{form.message.label}}</b> <span>(Required)</span></p>
                <p>Please enter the message you would like to send.</p>
                {{form.message}}

                {{form.send}}

            </div>
        </form>
    </div>
    
{% endblock %}
